@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('assets/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Permanent Marker", cursive;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}



.header {
  width: 45vw;
  text-align: center;
  color: #3F3359;
  font-size: 24px;
}

.card {
  background-color: #ffe29d;
  width: 36vw;
  padding: 20px;
  border: 1px solid #FBC13A;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  ;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #3F3359;
  border-radius: 8px;
  font-size: 14px;
  transition: border 0.2s, box-shadow 0.2s;
  color: #3F3359;
  font-weight: 600;
}

input[type="text"]:focus {
  border-color: #FBC13A;
  box-shadow: 0 0 5px rgba(248, 99, 61, 0.5);
  outline: none;
}

#btn {
  margin-top: 6px;
  padding: 12px;
  background-color: #615283;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}

#btn:hover {
  transform: translateY(8px);
  background-color: #3F3359;
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 45vw;
  height: 65vh;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
  border-radius: 20px;
  padding: 20px;
}

#popup-close,
#error-close {
  background-color: transparent;
  border: none;
  font-size: 24px;
  padding: 2px;
  align-self: flex-end;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

#popup-close:hover,
#error-close:hover {
  transform: translateY(5px);
}

.card-result {
  width: 40vw;
  height: 60vh;
  background-color: #3F3359;
  border-radius: 10px;
  border: 1px solid #FBC13A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card-result>p {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
}

.card-result>p>span {
  color: #FBC13A;
}

.gif {
  width: 30vw;
  height: 30vh;
  margin: 20px;
  border-radius: 10px;
}

.warning {
  color: red;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    width: 60vw;
    font-size: 16px;
  }

  .card {
    width: 50vw;
  }

  .field {
    gap: 8px;
  }

  input[type="text"] {
    padding: 10px 12px;
    font-size: 14px;
  }


  #modal-result,
  #error-handling {
    padding: 22px;
    width: 55vw;
    height: 65vh;
  }

  #popup-close:hover,
  #error-close:hover {
    transform: translateY(5px);
  }

  .card-result {
    width: 50vw;
    height: 40vh;
    padding: 10px;
  }

  .card-result>p {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
  }

  .card-result>p>span {
    color: #FBC13A;
  }

  .gif {
    width: 40vw;
    height: 30vh;
    margin: 10px;
  }
}

@media screen and (max-width: 480px) {

  .header {
    width: 70vw;
    font-size: 14px;
  }

  .card {
    width: 85vw;
  }

  .field {
    gap: 5px;
  }

  input[type="text"] {
    padding: 8px 6px;
    font-size: 12px;
  }


  #modal-result,
  #error-handling {
    padding: 20px;
    width: 90vw;
    height: 60vh;
  }

  #popup-close:hover,
  #error-close:hover {
    transform: translateY(5px);
  }

  .card-result {
    width: 80vw;
    height: 50vh;
    padding: 10px;
  }

  .card-result>p {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
  }

  .card-result>p>span {
    color: #FBC13A;
  }

  .gif {
    width: 60vw;
    height: 50vh;
    margin: 10px;
  }


}