* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('assets/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}



.header {
  width: 30vw;
  background-color: rgb(233, 198, 151);
  text-align: center;
}

.card {
  background-color: aquamarine;
  width: 30vw;
  padding: 20px;
  border: 1px solid yellow;
  border-radius: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#btn {
    margin-top: 10px;
}

#modal-result {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: blueviolet;
  width: 60vw;
  height: 65vh;
  position: fixed;    
	right: 0;    
	left: 0;    
	top: 0;    
	bottom: 0;
  margin: auto;
  z-index: 999;
  border: 1px solid teal;
  border-radius: 20px;
  padding: 20px;
}

#popup-close {
  background-color: transparent;
  border: none;
  font-size: 24px;
  padding: 2px;
  align-self: flex-end;
}

.card-result {
  width: 50vw;
  height: 50vh;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


.gif {
  width: 40vw;
  height: 40vh;
  margin: 20px;
}

.warning {
  color: red;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
    padding: 10px;
  }
  .container {
    width: 100%;
  }
  h1 {
    font-size: 20px;
    text-align: center;
  }

}